<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zxq.elework">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity2" />
        <activity
            android:name=".view.impl.LoginActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.impl.RegisterActivity"
            android:launchMode="singleTask" />
        <activity android:name=".view.base.BaseActivity" />
        <activity android:name=".view.impl.UserInfoActivity" />
        <activity android:name=".view.impl.AddressManagerActivity" />
        <activity android:name=".view.impl.AddressAddActivity" />
        <activity android:name=".view.impl.MainActivity" />
        <activity android:name=".view.impl.MyTabActivity" />
        <activity android:name=".view.impl.JsonActivity" />
        <activity android:name=".view.impl.ShopMainActivity">
        </activity>
        <activity android:name=".view.impl.OrderDetailActivity">
        </activity>
    </application>

</manifest>